config = {
    # IRC config
    'host': 'irc.quakenet.org',
    'port': 6667,

    'channels': [
        '#lolbottest',
    ],

    'trigger': '!',

    'startup_modules': [

    ],

    'nickname': 'Adurna|Trivia',
    'realname': 'Adurna Trivia Bot',

    # Q auth
    'q_user': '',
    'q_password': '',
}